<% if (typeof messages !== 'undefined' && messages && messages.length) { %>
  <div class="flash-messages">
    <% messages.forEach(function(msg) { %>
      <div class="toast toast--<%= msg.type %>" role="alert"><span><%= msg.text %></span></div>
    <% }); %>
  </div>
<% } else { %>
  <% if (typeof success_msg !== 'undefined' && success_msg.length) { %>
    <div class="flash-messages"><% success_msg.forEach(function(m) { %><div class="toast toast--success" role="alert"><span><%= m %></span></div><% }); %></div>
  <% } %>
  <% if (typeof error_msg !== 'undefined' && error_msg.length) { %>
    <div class="flash-messages"><% error_msg.forEach(function(m) { %><div class="toast toast--error" role="alert"><span><%= m %></span></div><% }); %></div>
  <% } %>
  <% if (typeof info_msg !== 'undefined' && info_msg.length) { %>
    <div class="flash-messages"><% info_msg.forEach(function(m) { %><div class="toast toast--info" role="alert"><span><%= m %></span></div><% }); %></div>
  <% } %>
<% } %>
